<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>User List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>User List</h1>
<a href="addUser">Add User</a>
<br/><br/>

<!--<form th:action="@{/filterUsers}"-->
      <!--th:if="${termForm != null}" th:object="${termForm}" method="POST">-->
    <!--Search:-->
    <!--<input type="text" th:if="${termForm.term != null}" th:="*{term}" />-->
    <!--<input type="submit" value="Find" />-->
<!--</form>-->

<div>
    <br/>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        <tr th:each ="user : ${users}">
            <td th:utext="${user.id}">...</td>
            <td th:utext="${user.name}">...</td>
        </tr>
    </table>
</div>
</body>
</html>